/***color pallete
#3a606e (grayish)
shade of #3a606e
#c9d3d7

#05a8aa (moss green)
#fffcff (shade of white)
#ffbc42 (yellowish)

#247ba0 (bluish)
shades of #247ba0
#4b93b1
#3787a8

**/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-primary {
    color: #3a606e !important;
}

.text-info {
    color: #4b93b1 !important;
}

.text-secondary {
    color: #05a8aa !important;
}

.text-warning {
    color: #ffbc42 !important;
}
.bg-info {
    /* background-color: rgba(255,255,255,0.8) !important; */
    background-color: #247ba0 !important;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    /* background: #fff !important; */
    border-bottom: 1px solid #3787a8;
}



.navbar-light .navbar-brand {
    letter-spacing: 0.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: lowercase;
    /* color:rgb(0, 126, 172); */
    color: #fff;
    font-weight: 600;
    text-shadow: 2.5px 1.5px #34495e;
}

.navbar-light .navbar-nav .nav-link .nav-link-item {
    /* color:rgba(0, 126, 172,0.75); */
    color: #fffcff;
    /* text-shadow: 1px 1px #34495e; */
    font-weight: 400;
    padding: 0.50rem 0 0.25rem 0;
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.navbar-light .navbar-nav .nav-link .nav-link-item:hover,
.navbar-light .navbar-nav .nav-link .nav-link-item:focus {
    border-bottom-color: #1b5a75;
}

.navbar-light .navbar-nav .active>.nav-link .nav-link-item {
    color: #fff;
    text-shadow: 1px 1px #34495e;
    border-bottom-color: #1b5a75;
}

.fas.fa-bars {
    color:#eeeeee;
    padding: 0.25rem 0.10rem;
}

.navbar-light .navbar-toggler {
    border-color: #eeeeee;
}

.jumbotron {
    height: 100vh;
    background-size: cover;
    background-image: url(../img/stanislav-kondratiev-671841-unsplash.jpg);
    top:0;
    padding:0;
    margin-bottom:0;
}

.jumbotron .container {
    height: 88vh;
    width: 90%;
    text-align: center;
    padding-top:10rem;
}

.jumbotron .container h1{
    color: #fff;
}

.jumbotron .container p.lead {
    color: #eeeeee;
}
#jumbotron-note {
    width: 100%;
    border-top: 1px solid #dadfe1;
    margin-top: 0.3rem;
}

@media (max-width:800px) {
    .jumbotron > .container > .display-4 {
        font-size: 2.5rem;
    }
    .jumbotron > .container > p {
        font-size: 1.1rem;
    }
    section {
        font-size: 0.9rem;
    }
    section .display-4 {
        font-size: 2.5rem;
    }
}

.jumbotron .container p {
    color: #eeeeee;
}

.jumbotron .container .btn-info {
    background-color: #1e8bc3;
    border-color: #1e8bc3;
}

.jumbotron .container .btn-info:hover {
    background-color: #2574a9;
    border-color: #2574a9;
}
#photo-ref-container {
    height:12vh;
}
#photo-ref {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
}
div.course:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px #95a5a6;
}
#math-courses {
    background-color: #c9d3d7;
}

#clerical-courses {
    background: url(../img/clerical_bg.jpg) no-repeat fixed center;
    background-size: cover;
    color: #fff;
}

.subject {
    border: 1px solid #c9d3d7;
    background: #fffcff;
}

.subject img {
    margin: 5px 0;
    vertical-align: middle;
}

.subject a.text-primary:hover,
#clerical-courses a:hover {
    color: #05a8aa !important;
    text-decoration: none;
}

#clerical-courses p.lead {
    color: #c9d3d7 !important;
}
.clerical-subject {
    background-color: rgba(219,226,228,0.3);
}
